/* ProductPage.css */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 50%;
  color: #000 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.thumbs-swiper .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: 100%;
}

.aspect-w-1 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}